*{
	padding: 0;
	margin: 0;
	font-family: consolas;
}

body{
	background: #ffeb3b;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loading{
	width: 300px;
	height: 300px;
	position: relative;
	box-sizing: border-box;
	border-radius: 50%;
	border-top: 10px solid #e74c3c;
	animation: a1 2s linear infinite;

}

.loading::before, .loading::after{
	content: '';
	width: 300px;
	height: 300px;
	position: absolute;
	left: 0;
	top: -10px;
	box-sizing: border-box;
	border-radius: 50%;
}

.loading::before{
	border-top: 10px solid blue;
	transform: rotate(120deg);
}

.loading::after{
	border-top: 10px solid #00ffe7;
	transform: rotate(240deg);
}

.loading span{
	position: absolute;
	width: 300px;
	height: 300px;
	font-size: 22px;
	color: #af1606;
	font-weight: 200px;
	text-align: center;
	line-height: 300px;
	animation: a2 2s linear infinite;
}

@keyframes a1{
	to{
		transform: rotate(360deg);
	}
}
@keyframes a2{
	to{
		transform: rotate(-360deg);
	}
}

@media (max-width: 991px){
	body{
		align-items: center;
	}
}